NEXT_PUBLIC_SITE_URL=https://glamonepal.com
NEXT_PUBLIC_KHALTI_PUBLIC_KEY=pk_test_replace_me
NEXT_PUBLIC_ESEWA_MERCHANT_ID=replace_me
NEXT_PUBLIC_API_BASE_URL=https://api.glamonepal.com
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXXXXXXXX
NEXT_PUBLIC_FACEBOOK_URL=https://facebook.com/glamonepal
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/glamo_nepal/
